@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');
@import url(../scss/reset.scss);

$color_1: #010101;
$color_2: #000031;
$color_3: #fff;
$color_4: rgb(193, 17, 25);
$color_5: rgb(172, 0, 9);
$color_grdnt: linear-gradient(#050100, rgb(193, 17, 25));
$transition: all 0.4s ease-in-out;

// custom classes
.robotoFont{font-family: 'Roboto', sans-serif;}
.AppWrapper{width: 100%; padding: 0 15px;}
.container {max-width: 96%;margin: 0 auto;padding: 0 15px}
.overlay.active {background: rgba(0, 0, 0, .8);position: fixed;display: block;width: 100%;height: 100%;z-index: 9;left: 0;top: 0;opacity: 70%;-webkit-transition: .4s;transition: .4s}
.dflex{display: flex;}
.contentBetween{justify-content: space-between;}
.contentCenter{justify-content: center;}
.itemsCenter{align-items: center;}
.btn{padding: 5px 15px; border-radius: 8px; background: $color_4; color: $color_3; transition: $transition; cursor: pointer;
    &:hover{background: $color_5;}
}


// .AppHeader
.AppHeader{padding: 0 15px; margin-bottom: 120px;}
.headerbtns{padding: 8px 16px;}
.logo img{width: 180px;}


// .AppBanner
.AppBanner{position: relative; display: flex;justify-content: center;align-items: center; width: 100%; margin: 0 auto;
    .sliderimg {transition-duration: 1s ease; opacity: 0; visibility: hidden; display: none; width: 100%;
        &.active {transition-duration: 1s;transform: scale(1); opacity: 1; visibility: visible; display: block; }
        &::after{content: ''; position: absolute; left: 0; right: 0; top: 0; bottom: 0; height: 100%; width: 100%; background: #000; opacity: 77%;}
        img{width: 100%; height: 900px; object-fit: cover;}
    }
    .right-arrow, .left-arrow {position: absolute;top: 50%;right: 32px;font-size: 3rem;color: $color_3;z-index: 0;cursor: pointer; transition: $transition;
        &:hover{color: $color_4;}
    }
    .left-arrow {right: inherit; left: 32px;}    
}

// .BannerContent
.BannerContent{position: fixed; z-index: 1; left: 0; right: 0; max-width: 60%; margin: 0 auto; color: $color_3;
    .Content_inner{text-align: center;}
    .bannerInputBox{margin-top: 30px;
        p{font-size: 20px;}
    }
    .inputbox{margin-top: 30px;}
    .bannerHeading{font-size: 48px;}
    .bannerSubHeading{margin-top: 15px;}
    .inputbox{color: $color_3;        
        input{background: #050100; opacity: 70%; padding: 21px 30px; width: 350px; border-radius: 8px 0 0 8px;
            &::placeholder{color: $color_3;}
        }
        .btn{padding: 20px 18px; font-size: 18px; border-radius: 0 8px 8px 0;}
    }
}

// .LoginMain

.Login{position: fixed;left: 0;right: 0; z-index: 1; max-width: 400px;margin: 0 auto;padding: 35px; background: #000; opacity: 90%; border-radius: 8px;
    .heading{font-size: 35px; text-transform: uppercase; font-weight: 500; margin-bottom: 20px;}
    .login-inputbox{margin-bottom: 20px;}
    input{width: 100%; padding: 15px; border-radius: 8px; border: 1px solid $color_3; width: 100%; color: $color_3;}
    .btn{width: 100%; padding: 15px; font-size: 18px;}
    .closebtn{position: absolute; right: 15px; top: 15px; font-size: 48px; color: $color_3;}
}